.main {
    margin: 10px;
}

.button-container {
    margin-bottom: 10px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container .item {
    flex: 1;
}


.upload-btn {
    border: 1px solid;
    background-color: rgb(15, 96, 209);
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.title {
    margin-top: 10px;
}

.category {
    margin-top: 10px;
}